<div class="container">
  <div *ngIf="upload">
    <div class="progress">
      <div class="progress-bar progress-bar-animated" 
      [ngStyle]="{ 'width': recipe?.progress + '%' }"></div>
    </div>
  </div>
  <div class="container">
    <form #uploadForm="ngForm">
        <h2 class="heading">Upload New Recipe</h2>
        {{recipe?.progress}}
        <div class="form-group">
          <label>Recipe Name</label>
          <input class="form-control"  
            placeholder="Recipe Name" 
            [(ngModel)]="recipeName" 
            name="recipeName" maxlength="70" required>
        </div>
        <div class="form-group">
          <label>Recipe Type</label>
          <select class="form-control" (change)="selectChangeHandler($event)">
            <option *ngFor="let recipeType of recipeTypes">
              {{recipeType}}
            </option>
          </select>
        </div>
        <div class="time">
          <div class="form-group">
            <label>Time</label>
            <input class="form-control"  
              placeholder="timeToMake" 
              [(ngModel)]="timeToMake" 
              name="timeToMake" maxlength="50" required>
          </div>
      </div>
      <br/>
        <div class="form-group">
            <label>Products</label>
            <textarea rows="6" class="form-control"  
              type="text"
              placeholder="Products" 
              [(ngModel)]="products" 
              name="products" required>
              </textarea>
        </div>
        <div class="form-group">
            <label>Recipe Description</label>
            <textarea rows="5" class="form-control"  
              type="text"
              placeholder="Recipe Description" 
              [(ngModel)]="recipeDescriptionFirst" 
              name="recipeDescriptionFirst" required>
              </textarea>
        </div>
        <div class="form-group">
            <label>Recipe Description</label>
            <textarea rows="13" class="form-control"  
              type="text"
              placeholder="Recipe Description" 
              [(ngModel)]="recipeDescriptionSecond" 
              name="recipeDescriptionSecond" required>
              </textarea>
        </div>
        <div class="form-group">
            <label>Recipe Description</label>
            <textarea rows="5" class="form-control"  
              type="text"
              placeholder="Recipe Description" 
              [(ngModel)]="recipeDescriptionThird" 
              name="recipeDescriptionThird" required>
              </textarea>
        </div>
    <input type="file" 
    (change)="handleFiles($event)" multiple> <!--  for multiple image - multiple -->
    <button [disabled]="!uploadForm.form.valid" type="button" class="btn btn-info btn-lg"
          (click)="uploadFiles()">Upload Recipe</button>
    </form>
  </div>
</div>


