<div class="container body-content">
    <div class="jumbotron">
        <div class="row">
            <div class="col-md-12">
                <article>
                    <header class="text-primary">
                        <img class="img-circle" src="http://localhost:3000/images/Reverse-Image-Search-Engines-Apps-And-Its-Uses-2016.jpg" height="51px" width="51px"/>
                        <h2>{{fullName}}</h2>
                    </header>

                    <p>
                        {{content}}
                    </p>

                    <small class="text-success">
                        {{email}}
                    </small>
                    <footer>
                        <div class="pull-right">
                            <a class="btn btn-primary" href="/">Back &raquo;</a>
                        </div>
                    </footer>
                </article>
            </div>
        </div>
    </div>
</div>
