<div class="container body-content span=8 offset=2">
    <div class="well">
        <form class="form-horizontal" method="POST" action="/article/create">
            <fieldset>
                <legend>New Article</legend>

                <div class="form-group">
                    <label class="col-sm-4 control-label" for="articleTitle">Recipe</label>
                    <div class="col-sm-4 ">
                        <input type="text" class="form-control" id="articleTitle" placeholder="Recipe" name="title" required >
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="articleTitle">Time for cooking</label>
                    <div class="col-sm-4 ">
                        <input type="text" class="form-control" id="articleTime" placeholder="Time for cooking" name="time" required >
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="articleContent">Products</label>
                    <div class="col-sm-4">
                        <textarea class="form-control" id="articleProducts" placeholder="Products" rows="4" name="products" required></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="articleContent">Recipe</label>
                    <div class="col-sm-4">
                        <textarea class="form-control" id="articleContent" rows="10" name="content" placeholder="Recipe" required></textarea>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-4 col-sm-offset-4">

                        <button type="reset" class="btn btn-default">Cancel</button>

                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>
