.recipe-container{
    margin:24px;
    box-shadow:#555 1px 2px 8px 1px;
    max-width: 80%;
    height: auto;
    width: auto;
    margin-left: 10%;
}

.recipe-img{
    width: 60%;
    
    /* margin:5% 5% 5% 19%; */
    margin-left: auto;
	margin-right: auto;
	display: block;
}

.recipe-container p{
    text-align: center;
}

.recipe-container h1{
    text-align: center;
}

.recipe-container h3{
    text-align: center;
}

.recipe-container h4{
    text-align: center;
}

.buttons{
    text-align: center;
}

